{% extends 'base.html' %}
{% block content %}

<h2>Controle de estoque de games:</h2>

<details>
    <summary>[ Cadastrar novo jogo ]</summary>
    <div class="col-md-4">
        <form action="{{url_for('estoque')}}" method="POST">
            <input type="text" name="titulo" placeholder="Título"
            class="form-control" required>
            <input type="number" name="ano" placeholder="Ano"
            class="form-control" required>
            <input type="text" name="categoria" placeholder="Categoria"
            class="form-control" required>
            <input type="text" name="plataforma" placeholder="Plataforma"
            class="form-control" required>
            <input type="text" name="preco" placeholder="Preço"
            class="form-control" required>
            <input type="text" name="quantidade" placeholder="Quantidade"
            class="form-control" required>
            <input type="submit" value="Cadastrar" class="btn btn-success">
            <input type="reset" value="Limpar" class="btn btn-danger">
        </form>
    </div>
</details>

<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>Título:</th>
            <th>Ano:</th>
            <th>Categoria:</th>
            <th>Plataforma:</th>
            <th>Preço:</th>
            <th>Quantidade:</th>
        </tr>
    </thead>
    <tbody>
        {% for game in gamesestoque %}
        <tr>
            <td style="color: blue;">{{game.titulo}}</td>
            <td>{{game.ano}}</td>
            <td>{{game.categoria}}</td>
            <td>{{game.plataforma}}</td>
            <td>R${{game.preco}}</td>
            <td>{{game.quantidade}}</td>
        </tr>
        {% endfor %}
        
    </tbody>
</table>
<hr>
<h2>Controle de estoque de consoles:</h2>

<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>Nome:</th>
            <th>Ano:</th>
            <th>Fabricante:</th>
            <th>Preço:</th>
            <th>Quantidade:</th>
        </tr>
    </thead>
    <tbody>
        {% for console in consoleEstoque %}
        <tr>
            <td style="color: green;">{{console.nome}}</td>
            <td>{{console.ano}}</td>
            <td>{{console.fabricante}}</td>
            <td>R${{console.preco}}</td>
            <td>{{console.quantidade}}</td>
        </tr>
        {% endfor %}
        
    </tbody>
</table>


{% endblock content %}