{% extends 'base.html' %}
{% block content %}

<h2>Controle de estoque</h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr class="table-dark">
            <th>Título:</th>
            <th>Ano:</th>
            <th>Categoría:</th>
            <th>Plataforma:</th>
            <th>Preço:</th>
            <th>Quantidade:</th>
        </tr>
    </thead>
    <tbody>
        {% for game in gamesestoque %}
        <tr>
            <td>{{game.titulo}}</td>
            <td>{{game.ano  }}</td>
            <td>{{game.categoria}}</td>
            <td>{{game.plataforma}}</td>
            <td>{{game.preco}}</td>
            <td>{{game.quantidade}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}